# registry = http://192.168.99.100:32768/content/repositories/npm-private/

init.author.name = Jane Doe
init.author.email = jane@example.com
init.author.url = http://blog.example.com
# an email is required to publish npm packages
email = jane@example.com
always-auth = true
_auth = YWRtaW46YWRtaW4xMjM=